"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b22d8a3c-ccee-4091-9189-b225c9987588"
    json:
      beautify_on_save: true
  "atom-ternjs": {}
  "autocomplete-python":
    caseInsensitiveCompletion: false
    pythonPaths: "$PROJECT/_venv/bin/python;/usr/local/bin/python"
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter-tslint"
      "linter"
      "nuclide"
      "nuclide-format-js"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".*.made"
      "*.pyc"
      "__pycache__"
      ".cache"
    ]
    projectHome: "/Users/skovhus/git"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "77c43300-e19e-4279-9dcb-8ad382688daa"
  linter:
    errorPanelHeight: 100
    lintOnFlyInterval: 2000
    showErrorInline: false
  "linter-eslint":
    fixOnSave: true
  "linter-pep8":
    convertAllErrorsToWarnings: false
    ignoreErrorCodes: [
      "W503"
    ]
    maxLineLength: 100
  "linter-pylint":
    executablePath: "%p/_venv/bin/pylint"
    pythonPath: "%p,%f"
    rcFile: "%p/pylint.cfg"
  "linter-ui-default": {}
  nuclide:
    installRecommendedPackages: true
    "nuclide-code-format":
      formatOnSave: true
    "nuclide-flow":
      canUseFlowBin: true
    "nuclide-home":
      showHome: false
  "one-dark-ui": {}
  "python-tools": {}
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
